# java_generics_schembri gitignore #

# git repository
.git/

# STS(eclipse) project files #
##############################
.settings/
.classpath
.project

# Compiled class files #
########################
/bin/
*.class

# Package Files #
#################
*.jar
*.war
*.ear
*.db

# Logs #
########
/log/*
*.log

# WinMerge .bak files #
#######################
*.bak
